@model AbdielClub.Models.Login


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                </div>
                                <div class="col-12">
                                        <form>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.User, new { htmlAttributes = new { @placeholder = "Username", @class = "form-control col-12" } })
                                                @Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @placeholder = "Password", @class = "form-control col-12" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                            <button type="submit" class="btn btn-primary col-12">Log in</button>
                                        </form>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    Usuario o Contraseña incorrectos
                </div>
                <div class="text-center mb-3">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        if (@ViewBag.Login != 1) {
            $('#exampleModalCenter').modal('show')
           }
    </script>
}



